.popular-event-card {
    background-color: #161616;
    padding: 15px;
    color: #fff;
    cursor: pointer;
}

.popular-event-card h4 {
    margin: 0;
}

.popular-event-card:hover {
    background-color: #202020;
    transition: all 0.3s;
}