body, html {
    background-color: #000;
    font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}

.main-container-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #0D0D0D;
    height: 50px;
    box-sizing: border-box;
    border-bottom: 1px solid #00B073;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.main-container-header > h3 {
    margin: 0;
    color: #00B073;
}

.main-container-left-nav {
    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
    background-color: #1A1A1A;
    color: #fff;
    padding: 15px 0;
    width: 250px;
    max-width: 250px;
}

.main-container-body {
    position: fixed;
    top: 50px;
    left: 250px;
    right: 0;
    bottom: 0;
    padding: 15px;
}

.module-heading {
    color: #00B073;
    margin: 0;
    margin-bottom: 15px;
}